<app-header [pageTitle]="['Admin Page']"></app-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-row style="font-family: Quicksand, sans-serif;" class="ion-text-center">
        <ion-col style="font-size: 0.8rem;" size="3"><strong>Call Levels</strong></ion-col>
        <ion-col size="3"><span style="font-size: 0.7rem;">Secondary</span></ion-col>
        <ion-col size="1.5"><ion-icon color="secondary" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <span style="font-size: 0.7rem;">Primary</span></ion-col>
        <ion-col size="1.5">
          <ion-icon color="success" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-list>
<ion-list>
  <ion-list-header>Shifts Pending Approval</ion-list-header>
  <ion-item style="font-size: 0.7rem;">
    <ion-col size="2.5">OnDuty</ion-col>
    <ion-col size="2.5">Date</ion-col>
    <ion-col size="2">Start</ion-col>
    <ion-col size="2">End</ion-col>
    <ion-col size="1.5">Call Level</ion-col>
    <ion-col size="2">Approve</ion-col>
  </ion-item>

    <ion-item *ngFor="let shifts of pendingShifts" style="font-size: 0.8rem;">
    <ion-col size="2.5">{{shifts.onDuty.firstName}} {{shifts.onDuty.lastName}}</ion-col>
    <ion-col size="2.5">{{shifts.start | date: 'shortDate'}}</ion-col>
    <ion-col size="2">{{shifts.start | date: 'shortTime'}}</ion-col>
    <ion-col size="2">{{shifts.end | date: 'shortTime'}}</ion-col>
    <ion-col size="1.5">
      <span *ngIf="shifts.ShiftStatus === 'secondary'"><ion-icon color="secondary" size="large" name="person-circle-outline"></ion-icon></span>
      <span *ngIf="shifts.ShiftStatus === 'primary'"><ion-icon color="success"  size="large" name="person-circle-outline"></ion-icon></span>
    </ion-col>
      <ion-col size="1.5">
        <ion-button size="small" fill="clear">
          <ion-icon color="success" size="small" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-item>

</ion-list>

</ion-content>

<app-footer></app-footer>
