<app-header></app-header>

<ion-content>
  <ion-img src="https://media.publit.io/file/organised.png" style="width: 100%"></ion-img>

  <ion-card>
    <ion-card-header>
<ion-card-title class="ion-text-center">Admin Dashboard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-col size="6">
        <ion-button [routerLink]="['users/add']" size="full" class="ion-activatable ripple-parent" color="success">Add New User</ion-button>
        </ion-col>
        <ion-col size="6">
        <ion-button size="full" class="ion-activatable ripple-parent" color="secondary">View Users</ion-button>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="6">
        <ion-button size="full" class="ion-activatable ripple-parent" color="success">Add Shift</ion-button>
        </ion-col>
        <ion-col size="6">
        <ion-button size="full" class="ion-activatable ripple-parent" color="secondary">View Shifts</ion-button>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="6">
          <ion-button size="full" class="ion-activatable ripple-parent" color="success">Account</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button size="full" class="ion-activatable ripple-parent" color="secondary">Roster</ion-button>
        </ion-col>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>

