<app-header [pageTitle]="['All Comments']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Profile...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
<ion-list *ngIf="comments else loading">
  <div *ngFor="let comment of comments">
    <ion-card>
  <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" color="light">
    <ion-label><strong>Comment Date:</strong></ion-label>
    <ion-label>{{comment.dateOfComment | date: 'dd/MMM hh:M a'}}</ion-label>
  </ion-item>
    <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" detail="true" [routerLink]="['/shifts/', comment.authoredBy.id, 'on-duty']">
      <ion-label><strong>Comment By:</strong></ion-label>
      <ion-label>{{comment.authoredBy.firstName}} {{comment.authoredBy.lastName}}</ion-label>
    </ion-item>
      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" detail="true" [routerLink]="['/shifts/', comment.shift.onDuty.id, 'on-duty']">
        <ion-label><strong>On Duty:</strong></ion-label>
        <ion-label>{{comment.shift.onDuty.firstName}} {{comment.shift.onDuty.lastName}}</ion-label>
      </ion-item>
    <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
      <ion-label><strong>comment:</strong> {{comment.comment}}</ion-label>
    </ion-item>
      <ion-item color="light" detail="true" [routerLink]="['/shifts/', comment.shift.id, 'details']">
        <ion-label color="secondary" style="font-family: Quicksand, sans-serif; font-size: 0.9rem; text-align: center;">Related Shift</ion-label>
      </ion-item>
    </ion-card>
    </div>
</ion-list>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="back" defaultHref="/shifts/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
