<app-header [pageTitle]="['Add Shift']"></app-header>

<ion-content>

  <ion-card style="margin-top: 2rem; ">
    <form [formGroup]="form" (ngSubmit)="addShift()">
      <ion-list>
        <ion-item color="light" lines="none">
        <ion-title style="font-family: Quicksand, sans-serif; text-align: center; margin-bottom: 2rem" color="medium">Add New Shift</ion-title>
        </ion-item>
        <ion-item-group>
          <ion-item lines="none">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" position="floating" color="secondary">
              Select Start Time
            </ion-label>
            <ion-datetime
              picker-format="DD MMM YY h:mm A"
              formControlName="start"
              display-format="DD MMM YY h:mm A"
              minuteValues="00,15,30,45"
            >
            </ion-datetime>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item lines="none">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" position="floating" color="secondary"><span>Select Finish Time</span></ion-label>
            <ion-datetime
              picker-format="DD MMM YY h:mm A"
              formControlName="end"
              display-format="DD MMM YY h:mm A"
              minuteValues="00,15,30,45"
            >
            </ion-datetime>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item lines="none">
            <ion-label position="floating" color="secondary" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Shift Status</ion-label>
            <ion-select formControlName="ShiftStatus" style="font-family: Quicksand, sans-serif;">
              <ion-select-option value="secondary">Secondary</ion-select-option>
              <ion-select-option value="primary">Primary</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
        <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" lines="none">
          <ion-label position="floating" color="secondary" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Approved/Draft</ion-label>
        <ion-select formControlName="isApproved" style="font-family: Quicksand, sans-serif;">
          <ion-select-option value=true>Approved</ion-select-option>
          <ion-select-option value=false>Draft</ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" *ngIf="users" lines="none">
          <ion-label position="floating" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" color="secondary">On Duty</ion-label>
          <ion-select formControlName="onDuty" style="font-family: Quicksand, sans-serif;">
            <div *ngFor="let user of users">
            <ion-select-option value="{{user.id}}">{{user.firstName}} {{user.lastName}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-col size="12">
          <ion-item style="margin-top: 2rem;" lines="none">
            <ion-col size="12">
              <ion-button type="submit" size="full" shape="round" color="success">
                <ion-img style="height: 3.5rem; width: 3.5rem;" slot="start" src="assets/icon8/icons8-save-close.svg"></ion-img>
                <ion-label>Save Shift</ion-label>
              </ion-button>
            </ion-col>
          </ion-item>
        </ion-col>
      </ion-list>
    </form>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" defaultHref="/shifts" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button color="light">
      <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">{{date | date: 'shortTime'}}</ion-label>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/admin']">
        <ion-label>Dashboard</ion-label>
        <ion-icon slot="end" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>




