<app-header [pageTitle]="['Edit Shift']"></app-header>

<ion-content>
  <app-header-banner></app-header-banner>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Shift...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

<ion-card *ngIf="shift else loading">
  <form [formGroup]="form" (ngSubmit)="onEditShift()">
    <ion-input type="hidden" formControlName="id" [ngModel]="shift.id" value="{{shift.id}}"></ion-input>
    <ion-input type="hidden" formControlName="isApproved" value=false [ngModel]="shift.isApproved"></ion-input>
    <ion-input type="hidden" formControlName="onDuty" [ngModel]="shift.onDuty.id" value="{{shift.onDuty.id}}"></ion-input>
    <ion-card-header color="light" class="ion-text-center" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Edit Shift Form</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item lines="none"></ion-item>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Start:</ion-label>
        <ion-datetime
          [ngModel]="shift.start"
          picker-format="DD MMM YY h:mm A"
          formControlName="start"
          display-format="DD MMM YY h:mm A"
          minuteValues="00,15,30,45"
        >
        </ion-datetime>
      </ion-item>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Finish:</ion-label>
        <ion-datetime
          [ngModel]="shift.end"
          picker-format="DD MMM YY h:mm A"
          formControlName="end"
          display-format="DD MMM YY h:mm A"
          minuteValues="00,15,30,45"
        >
        </ion-datetime>
      </ion-item>

<ion-item lines="none"></ion-item>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Call Level</ion-label>
        <ion-select formControlName="ShiftStatus" [ngModel]="shift.ShiftStatus">
          <ion-select-option value="primary">Primary</ion-select-option>
          <ion-select-option value="secondary">Secondary</ion-select-option>
        </ion-select>
      </ion-item>

<ion-item lines="none"></ion-item>

      <ion-item lines="none" *ngIf="shift.isApproved === false">
        <ion-col size="12">
          <ion-button size="block" type="submit" color="success">
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <ion-img src="assets/icon8/icons8-save-close.svg" style="height: 3rem; width: 3rem;"></ion-img>
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Save Changes</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>

      <ion-item *ngIf="shift.isApproved === true">
        <ion-text color="warning">
          This shift has been approved and can not be edited.
          Please contact your manager if you require any changes to be made to this shift.
        </ion-text>
      </ion-item>

    </ion-list>
  </ion-card-content>
  </form>
</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      <ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/users/profile"></ion-back-button>
    </ion-buttons>

    <ion-title>

      <ion-button color="light" [routerLink]="['/shifts/add']" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-label>Add Shift</ion-label>
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/messaging']" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-label>Messages</ion-label>
        <ion-icon name="chatbubbles-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
