<app-header [pageTitle]="['Shift Dashboard']"></app-header>

<ion-content>
<app-header-banner></app-header-banner>
      <ion-item *ngFor="let shift of shifts">
        <div *ngIf="shifts">
        <ion-avatar>
          <ion-img [hidden]="isLoading" (ionImgDidLoad)="isLoading = false" src="{{shift.onDuty.profilePicture}}"></ion-img>
        </ion-avatar>
        <ion-label [hidden]="!isLoading"><ion-spinner></ion-spinner></ion-label>
        <ion-label>{{shift.start | date: 'shortTime'}}</ion-label>
        <ion-label>{{shift.end | date: 'shortTime'}}</ion-label>
        <ion-label *ngIf="shift.ShiftStatus === 'primary'"></ion-label>
        </div>
      </ion-item>

<ion-card>
  <ion-list>

<ion-item-divider class="list-header">Calendars</ion-item-divider>

    <ion-item [routerLink]="['/shifts/calendar/draft']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-schedule.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Pending Approval</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/shifts/calendar/approved']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-today.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Approved</ion-label>
    </ion-item>
    <ion-item  class="list-label">Options</ion-item>
    <ion-item [routerLink]="['/comments']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-calendar-document-150.png"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Shift Comments</ion-label>
    </ion-item>

      <ion-item [routerLink]="['/shifts/list']" detail="true" lines="indent">
        <ion-avatar><ion-img src="assets/icon8/icons8-calendar.svg"></ion-img></ion-avatar>
        <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="list-label">Shifts List</ion-label>
      </ion-item>

    <ion-item [routerLink]="['/shifts/add']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-add.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">
        Add New Shift
      </ion-label>
    </ion-item>

  </ion-list>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="list-label" [routerLink]="['/home']">
        <ion-icon slot="end" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" class="list-label" [routerLink]="['/']">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
