<app-header [pageTitle]="['Shift Dashboard']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Shifts...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

<app-header-banner></app-header-banner>
      <ion-item *ngFor="let shift of shifts">
        <div *ngIf="shifts else loading">
        <ion-avatar>
          <ion-img [hidden]="isLoading" (ionImgDidLoad)="isLoading = false" src="{{shift.onDuty.profilePicture}}"></ion-img>
        </ion-avatar>
        <ion-label [hidden]="!isLoading"><ion-spinner></ion-spinner></ion-label>
        <ion-label>{{shift.start | date: 'shortTime'}}</ion-label>
        <ion-label>{{shift.end | date: 'shortTime'}}</ion-label>
        <ion-label *ngIf="shift.ShiftStatus === 'primary'"></ion-label>
        </div>
      </ion-item>

<ion-card>
  <ion-list>

<ion-item-divider class="list-header">Calendars</ion-item-divider>

    <ion-item [routerLink]="['/shifts/calendar/draft']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-schedule.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Pending Approval</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/shifts/calendar/approved']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-today.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Approved</ion-label>
    </ion-item>

    <ion-item  class="list-label">Options</ion-item>

    <ion-item [routerLink]="['/comments']" detail="true" lines="indent">
      <ion-avatar><ion-img src="assets/icon8/icons8-calendar-document-150.png"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">Shift Comments</ion-label>
    </ion-item>

      <ion-item [routerLink]="['/shifts/list']" detail="true" lines="indent">
        <ion-avatar><ion-img src="assets/icon8/icons8-calendar.svg"></ion-img></ion-avatar>
        <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="list-label">Shifts List</ion-label>
      </ion-item>

    <ion-item [routerLink]="['/shifts/add']" detail="true" lines="none">
      <ion-avatar><ion-img src="assets/icon8/icons8-add.svg"></ion-img></ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="list-label">
        Add New Shift
      </ion-label>
    </ion-item>

  </ion-list>
</ion-card>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" class="list-label" [routerLink]="['/home']">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-label style="font-family: Quicksand, sans-serif;">
        {{date | date: 'shortTime'}}
      </ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" class="list-label" [routerLink]="['/users/profile']">
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
