<app-header [pageTitle]="['Approve Shift?']"></app-header>
<ion-content>
  <app-header-banner></app-header-banner>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="shift else loading">
<ion-list>
  <form [formGroup]="form" (ngSubmit)="approveShift()">
  <ion-list-header>
    Approve Shift
  </ion-list-header>
  <ion-item>
    <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Start</ion-label>
    <ion-datetime
      picker-format="DD MMM YY h:mm A"
      display-format="DD MMM YY h:mm A"
      minuteValues="00,15,30,45"
      formControlName="start" [ngModel]="shift.start"></ion-datetime>
  </ion-item>
    <ion-item>
      <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">End</ion-label>
      <ion-datetime
        picker-format="DD MMM YY h:mm A"
        display-format="DD MMM YY h:mm A"
        minuteValues="00,15,30,45"
        formControlName="end" [ngModel]="shift.end"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Select Call Level</ion-label>
    <ion-select placeholder="{{shift.ShiftStatus}}" formControlName="ShiftStatus" [ngModel]="shift.status">
      <ion-select-option value="secondary">Secondary</ion-select-option>
      <ion-select-option value="primary">Primary</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-input type="hidden" formControlName="id" [ngModel]="shift.id" value="{{shift.id}}"></ion-input>
    <ion-item>
      <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Select On Duty</ion-label>
      <ion-select placeholder="{{shift.onDuty.firstName}} {{shift.onDuty.lastName}}" formControlName="onDuty" [ngModel]="shift.onDuty">
        <div *ngFor="let user of users">
        <ion-select-option value="/users/{{user.id}}">{{user.firstName}} {{user.lastName}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Approve Shift?</ion-label>
      <ion-checkbox checked="false" formControlName="isApproved" value="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-col size="12">
      <ion-button size="full" type="submit" color="success">
        Submit
      </ion-button>
      </ion-col>
    </ion-item>
  </form>
  {{form.value | json}}
</ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/admin/pending-approval']">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-label>Back to List</ion-label>
        </ion-button>
    </ion-buttons>
    <ion-title>
      <h4>{{date | date: 'shortTime'}}</h4>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-icon slot="end" name="list-outline"></ion-icon>
        <ion-label>
          Dashboard
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
