<app-header [pageTitle]="['Add Comment']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
<div *ngIf="shift else loading">
<ion-card>
  <ion-card-header>Shift Details</ion-card-header>
  <ion-item detail="true" [routerLink]="['/shifts/', shift.onDuty.id, 'on-duty']" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;"><ion-label>On Duty:</ion-label><ion-label>{{shift.onDuty.firstName}} {{shift.onDuty.lastName}}</ion-label></ion-item>
  <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
    <ion-label>Date</ion-label>
    <ion-label>Start</ion-label>
    <ion-label>End</ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.start | date: 'd/MMM'}}</ion-label>
  <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.start | date: 'shortTime'}}</ion-label>
    <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.end | date: 'shortTime'}}</ion-label>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-card-content>
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="addCommentToShift()">
        <ion-select formControlName="recipient" placeholder="Comment Recipient">
          <div *ngFor="let receiver of receivers">
          <ion-select-option value="/users/{{receiver.id}}">{{receiver.firstName}} {{receiver.lastName}}</ion-select-option>
          </div>
        </ion-select>
      <ion-item class="input-class">
        <ion-label position="floating">Comment</ion-label>
        <ion-icon slot="start" name="chatbox-outline"></ion-icon>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>
        <ion-input type="hidden" formControlName="authoredBy" [(ngModel)]="user.id" value="/users/{{user.id}}"></ion-input>
        <ion-input formControlName="dateOfComment" type="hidden" value="{{date}}" [(ngModel)]="date"></ion-input>
        <ion-input formControlName="shift" value="/shifts/{{shift.id}}" type="hidden" [(ngModel)]="shift.id"></ion-input>
        <ion-item>
          <ion-col><ion-button size="block" color="success" type="submit">
            <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
            <ion-label>SEND</ion-label></ion-button>
          </ion-col>
        </ion-item>
      </form>
    </ion-list>
  </ion-card-content>
  </ion-card>
</div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
<ion-buttons slot="start">
  <ion-back-button text="Back" defaultHref="/shifts/list"></ion-back-button>
</ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/users/profile']">
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
