<app-header [pageTitle]="['Add Comment']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
<div *ngIf="shift else loading">
<ion-card>
  <ion-card-header>Shift Details</ion-card-header>
  <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
    <ion-label>Date</ion-label>
    <ion-label>Start</ion-label>
    <ion-label>End</ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.start | date: 'd/MMM'}}</ion-label>
  <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.start | date: 'shortTime'}}</ion-label>
    <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">{{shift.end | date: 'shortTime'}}</ion-label>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-card-header>Enter Comment</ion-card-header>
  <ion-card-content>
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="addCommentToShift()">
        <ion-select formControlName="recipient" placeholder="Comment Recipient">
          <ion-select-option *ngFor="let receiver of receivers" value="/users/{{user.id}}">{{receiver.firstName}} {{receiver.lastName}}</ion-select-option>
        </ion-select>
      <ion-item class="input-class">
        <ion-label>Comment</ion-label>
        <ion-icon slot="start" name="chatbox-outline"></ion-icon>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>
        <ion-input
          type="hidden"
          formControlName="authoredBy"
          [(ngModel)]="user.id"
          value="/users/{{user.id}}"
        ></ion-input>

        <ion-input
          formControlName="dateOfComment"
          type="hidden"
          value="{{date}}"
          [(ngModel)]="date"
        ></ion-input>

        <ion-input
          formControlName="shift"
          value="/shifts/{{shift.id}}"
          type="hidden"
          [(ngModel)]="shift.id"
        >
        </ion-input>

        <ion-item>
          <ion-button color="success" type="submit">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Add</ion-label>
          </ion-button>
        </ion-item>
      </form>
    </ion-list>
  </ion-card-content>
  </ion-card>
</div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
<ion-buttons slot="start">
  <ion-back-button text="Back" defaultHref="/shifts/list"></ion-back-button>
</ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/users/profile']">
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
