<app-header [pageTitle]="['Send Message']"></app-header>
<ion-content>
  <app-header-banner></app-header-banner>
<ion-card>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-list>
    <form [formGroup]="form" (ngSubmit)="onSendMessage()">

    <ion-item  style="font-size: 0.9em; font-family: Quicksand, sans-serif;"><ion-label position="floating">Subject:</ion-label>
    <ion-input formControlName="subject"></ion-input>
      <ion-input *ngIf="user else loading" type="hidden" formControlName="authoredBy" [(ngModel)]="user.id" value="{{user.id}}"></ion-input>
    </ion-item>

      <ion-item lines="none" style="font-size: 0.9em; font-family: Quicksand, sans-serif;" *ngIf="users">
        <ion-label position="floating">Recipient:</ion-label>
        <ion-select formControlName="recipient">
          <ion-select-option  *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>

<ion-item-divider color="light"></ion-item-divider>
      <ion-item style="font-size: 0.9em; font-family: Quicksand, sans-serif;">
        <ion-textarea auto-grow="true"  style="height: 15rem;" spellcheck="true" placeholder="Message" formControlName="comment"></ion-textarea>
      </ion-item>

      <ion-item lines="none" style="font-size: 0.8em; font-family: Quicksand, sans-serif;">
        <ion-col size="12">
          <ion-button size="block" color="secondary" type="submit">
          <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
        <ion-label  style="font-family: Quicksand, sans-serif; font-size: 0.8rem">Send Message</ion-label>
      </ion-button>
        </ion-col>
      </ion-item>

    </form>
  </ion-list>
</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
<ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/messaging"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button color="light" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging/inbox']">
        <ion-icon slot="start" name="mail-open-outline"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;"  [routerLink]="['/messaging/sent']">
        <ion-icon slot="end" name="file-tray-full-outline"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
