<app-header [pageTitle]="['Profile']"></app-header>
<ion-content>

  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
    <ion-card-title class="ion-text-center">Loading Profile...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div *ngIf="user$ else loading">
  <ion-card>
    <ion-card-content>
      <div style="position: relative; left: 41%"><h5>{{user$.firstName}} {{user$.lastName}}</h5> <ion-img src="{{user$.profilePicture}}" style="width: 4rem; height: 4rem;"></ion-img></div>
      <ion-list>
        <ion-item><ion-label><ion-icon name="at-outline"></ion-icon><span style="font-size: 0.8rem">email:</span>  {{user$.email}}</ion-label></ion-item>
        <ion-item><ion-label><span style="font-size: 0.8rem">wage:</span> ${{user$.wagePerHour}}</ion-label></ion-item>
        <ion-item><ion-label><ion-icon name="call-outline"></ion-icon> {{user$.contactNumber}}</ion-label></ion-item>
        <ion-row><ion-col size="12" class="ion-text-center">Your Shifts</ion-col> </ion-row>
          <ion-row>
            <ion-col style="text-align: center" size="3">DATE</ion-col>
            <ion-col style="text-align: center" size="3">START</ion-col>
            <ion-col style="text-align: center" size="3">END</ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row style="font-size: 0.8rem; text-align: center; vertical-align: center; font-family: Quicksand, sans-serif;" *ngFor="let shift of user$.shifts ">
            <ion-col size="3">{{shift.start | date: 'shortDate'}}</ion-col>
            <ion-col size="3">{{shift.start | date: 'shortTime'}}</ion-col>
            <ion-col size="3">{{shift.end | date: 'shortTime'}}</ion-col>
            <ion-col size="3"><ion-button  size="small" color="secondary" routerLink="/shifts/details/{{shift.id}}">VIEW</ion-button></ion-col>
          </ion-row>
        </ion-list>
    </ion-card-content>
  </ion-card>
  </div>

</ion-content>
<app-footer></app-footer>
