<app-header [pageTitle]="['Shifts List']"></app-header>
<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="shifts else loading">
<ion-list>
  <ion-item-divider>

  <ion-row style="font-family: Quicksand, sans-serif;" class="ion-text-center">
    <ion-col style="font-size: 0.8rem;" size="3"><strong>Call Levels</strong></ion-col>
    <ion-col size="3"><span style="font-size: 0.7rem;">Secondary</span></ion-col>
      <ion-col size="1.5"><ion-icon color="secondary" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
    </ion-col>
    <ion-col size="3">
      <span style="font-size: 0.7rem;">Primary</span></ion-col>
    <ion-col size="1.5">
      <ion-icon color="success" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
    </ion-col>
  </ion-row>
  </ion-item-divider>
  <ion-item detail="false">
    <ion-button fill="clear" (click)="toggleViewActionSheet()">
      <ion-icon slot="start" name="funnel-outline"></ion-icon>
      <ion-label>FILTER</ion-label></ion-button>
  </ion-item>
    <ion-item style="font-size: 0.7rem; font-family: Quicksand, sans-serif;" class="ion-text-center">
      <ion-col size="2"><strong>On Duty</strong></ion-col>
      <ion-col size="2"><strong>Date</strong></ion-col>
      <ion-col size="2"><strong>Start</strong></ion-col>
      <ion-col size="2"><strong>Finish</strong></ion-col>
      <ion-col size="1.5"><strong>Level</strong></ion-col>
      <ion-col size="2.5"><strong>Approved</strong></ion-col>
    </ion-item>
    <div *ngFor="let shift of shifts">
    <ion-item (click)="presentActionSheet(shift.id)" class="shifts ion-text-center" style="font-family: Quicksand, sans-serif; font-size: 0.7rem;">
      <div *ngIf="shift.onDuty.profilePicture else spinner">
        <ion-avatar slot="start"> <ion-img src="{{shift.onDuty.profilePicture}}" style="width: 3rem; height: 3rem;"></ion-img> </ion-avatar>
      </div>
        <ng-template #spinner>
        <ion-spinner></ion-spinner>
        </ng-template>

      <ion-col>{{shift.start | date: 'dd/MMM'}}</ion-col>
      <ion-col>{{shift.start | date: 'shortTime' }}</ion-col>
      <ion-col>{{shift.end | date: 'shortTime'}}</ion-col>
      <ion-col>
        <span *ngIf="shift.ShiftStatus === 'secondary'"><ion-icon color="secondary" size="large" name="person-circle-outline"></ion-icon></span>
        <span *ngIf="shift.ShiftStatus === 'primary'"><ion-icon color="success"  size="large" name="person-circle-outline"></ion-icon></span></ion-col>
      <ion-col>
        <div *ngIf="shift.isApproved === false">
          <ion-icon size="large" color="danger" name="close-circle-outline"></ion-icon>
        </div>
        <div *ngIf="shift.isApproved === true">
          <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-item>
      </div>
</ion-list>
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
<ion-back-button defaultHref="/shifts" style="font-family: Quicksand, sans-serif;" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
