<app-header></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div  *ngIf="user else loading">
  <ion-list style="margin-top: 1.5rem;">
    <ion-item color="light"><ion-label color="danger" style="text-align: center;">Are you sure <br /> you want to <br /> Delete User?</ion-label></ion-item>
    <ion-item-divider></ion-item-divider>
      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>First Name:</ion-label>
        <ion-label>{{user.firstName}}</ion-label>
      </ion-item>
      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>Last Name:</ion-label>
        <ion-label>{{user.lastName}}</ion-label>
      </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>Email</ion-label>
      <ion-label>{{user.email}}</ion-label>
      </ion-item>
      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>Contact Number:</ion-label>
        <ion-label>{{user.contactNumber}}</ion-label>
      </ion-item>
    <ion-item>
      <ion-col size="12">
        <ion-button type="submit" color="danger" (click)="deleteUser(user.id)" size="block">DELETE</ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/users']" style="font-size: 0.8rem; font-family: Quicksand, sans-serif">
        <ion-label>
          User List
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/shifts/list']">
        <ion-label>Shift List</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
