<app-header [pageTitle]="['List Users']"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Users List</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-row *ngFor="let user of users">
      <ion-item >
        <ion-col>
        {{user.firstName}} {{ user.lastName }}
        </ion-col>
        <ion-col>
        <ion-img [src]="user.profilePicture" class="profile-img"></ion-img>
        </ion-col>
      </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>{{user.contactNumber}}</ion-col>
        <ion-col>{{user.wagePerHour}}</ion-col>
      </ion-row>
    </ion-list>
  </ion-card>

</ion-content>

<app-footer></app-footer>
