<app-header [pageTitle]="pageTitle"></app-header>
<ion-content>
  <ion-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-card-header>
        <ion-card-title style="text-align: center;">
          Enter New User Details Below
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-list>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">
                  First Name
                </ion-label>
                <ion-input type="text" formControlName="firstName"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">
                  Last Name
                </ion-label>
                <ion-input type="text" formControlName="lastName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  <ion-icon name="call-outline"></ion-icon>
                  Contact Number
                </ion-label>
                <ion-input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" formControlName="contactNumber"></ion-input>
              </ion-item>
            </ion-col>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="image-outline"></ion-icon>
              Profile Picture URL
            </ion-label>
            <ion-input type="url" formControlName="profilePicture"></ion-input>
          </ion-item>
          </ion-row>
          <ion-row>


            <ion-col size="6">
          <ion-item>
            <ion-label>
              Wage Per Hour
            </ion-label>
            <ion-input formControlName="wagePerHour" type="currency"></ion-input>
          </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-label>User Role</ion-label>
              <ion-select multiple="true" formControlName="roles" placeholder="select role"></ion-select>
              <ion-select-option value="ROLE_USER">Employee</ion-select-option>
              <ion-select-option value="ROLE_ADMIN">Admin</ion-select-option>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">
                  <ion-icon name="mail-outline"></ion-icon>
                  email
                </ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">
                  <ion-icon name="lock-closed-outline"></ion-icon>
                  password
                </ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-card-subtitle>
            <ion-button type="submit">Create User</ion-button>
          </ion-card-subtitle>

        </ion-list>
      </ion-card-content>
    </form>
    <p>{{form.value | json}}</p>
  </ion-card>
</ion-content>
<app-footer></app-footer>
