<app-header [pageTitle]="['List Shifts']"></app-header>
<ion-content>
  <ion-virtual-scroll [items]="shifts" approxItemHeight="320px">
<ion-card *ngFor="let shift of shifts">
<ion-card-header>
    <ion-row>
    <ion-col>
      On Duty: {{shift.onDuty.firstName}} {{shift.onDuty.lastName}}
    </ion-col>
      <ion-col>
        Status: {{shift.ShiftStatus}}
      </ion-col>
    </ion-row>
</ion-card-header>
<ion-card-content>
  <ion-row>
    <ion-col size="4">{{shift.start | date}}</ion-col>
    <ion-col size="4">Start: {{shift.start | date: 'shortTime' }}</ion-col>
    <ion-col size="4">Finish: {{shift.end | date: 'shortTime'}}</ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row class="button-row">
    <ion-col size="4">
      <ion-button size="small" color="primary" [routerLink]="['details/', shift.id]">view</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="small" color="warning" [routerLink]="['edit/', shift.id]">edit</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="small" color="danger" [routerLink]="['delete/', shift.id]">delete</ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
</ion-card>
  </ion-virtual-scroll>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon size="small" [routerLink]="['add']" name="add-circle-outline"></ion-icon>
      <ion-label>Add Shift</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['calendar']">
      <ion-icon size="small"  name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon size="large" color="primary"  name="search-circle-outline"></ion-icon>
      <ion-label>View All</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
