<ion-toolbar>
<ion-buttons slot="start">
        <ion-button
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <ion-icon name="caret-back-outline"></ion-icon>
        </ion-button>
</ion-buttons>
  <ion-buttons slot="secondary">
        <ion-button
          size="small"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <ion-icon name="today-outline"></ion-icon> Today
        </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
      <ion-button
          size="small"
          color="primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
        <ion-button
          (click)="viewChange.emit(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >Month
        </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
        <ion-button
          (click)="viewChange.emit(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >Week
        </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
        <ion-button
          (click)="viewChange.emit(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >Day
        </ion-button>
  </ion-buttons>
  <ion-title>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</ion-title>
</ion-toolbar>
