<app-header [pageTitle]="['Add Shift']"></app-header>

<ion-content>

  <ion-card style="margin-top: 1rem;">
  <form [formGroup]="form" (ngSubmit)="addShift()">
<ion-list>
    <h4 style="font-family: Quicksand, sans-serif; text-align: center; margin-bottom: 2rem">Add New Shift</h4>
    <ion-item-group>
      <ion-item>
        <ion-label position="floating" class="ion-text-center" color="secondary"><span>Select Start Time</span></ion-label>
      <ion-datetime
        picker-format="DD MMM YY h:mm A"
        formControlName="start"
        display-format="DD MMM YY h:mm A"
        minuteValues="00,15,30,45"
      >
      </ion-datetime>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item>
        <ion-label position="floating" class="ion-text-center" color="secondary"><span>Select Finish Time</span></ion-label>
      <ion-datetime
        picker-format="DD MMM YY h:mm A"
        formControlName="end"
        display-format="DD MMM YY h:mm A"
        minuteValues="00,15,30,45"
      >
      </ion-datetime>
    </ion-item>
    </ion-item-group>

<ion-item-group>
  <div *ngIf="user">
<ion-input type="hidden" formControlName="onDuty" [(ngModel)]="user.id" value="{{user.id}}"></ion-input>
  </div>
  <ion-item>
        <ion-label position="floating" color="secondary">Shift Status</ion-label>
        <ion-select formControlName="ShiftStatus" placeholder="Select Status">
          <ion-select-option value="secondary">Secondary</ion-select-option>
          <ion-select-option value="primary">Primary</ion-select-option>
        </ion-select>
        </ion-item>
    </ion-item-group>
 <ion-col size="12">
   <ion-item style="margin-top: 2rem;">
     <ion-col size="12">
      <ion-button type="submit" size="full" color="success">Save Shift</ion-button>
     </ion-col>
   </ion-item>
 </ion-col>
    <ion-input formControlName="isApproved" type="hidden" value="false"></ion-input>

</ion-list>
  </form>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">


<ion-buttons slot="start">
<ion-back-button defaultHref="/shifts" text="back"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-footer>




