<app-header [pageTitle]='["Login"]'></app-header>

<ion-content>
  <app-header-banner></app-header-banner>

  <ion-card style="padding-top: 1.5rem; padding-bottom: 1rem;">
    <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item color="light" lines="none">
      <ion-label style="font-family: Quicksand, sans-serif; text-align: center; font-size: 1.5rem;">Please Login</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>

        <ion-item lines="inset">
          <ion-label position="floating" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
            <ion-icon name="mail-outline" slot="start"></ion-icon> email</ion-label>
          <ion-input id="email" type="text" formControlName="email"></ion-input>
        </ion-item>

        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>

        <ion-item lines="inset">
          <ion-label position="floating" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon> password</ion-label>
          <ion-input id="password" type="password"  formControlName="password"></ion-input>
        </ion-item>

        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
        </div>

        <ion-card-subtitle>
            <ion-col>
              <ion-button type="submit"  size="full" color="secondary" shape="round">
                <ion-img src="assets/icon8/icons8-login.svg"></ion-img>
                <ion-label>LOGIN</ion-label></ion-button>
            </ion-col>
        </ion-card-subtitle>
      </ion-list>
    </ion-card-content>
</form>
  </ion-card>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"
    defaultHref="/home" text="back"
    >
    </ion-back-button>
  </ion-toolbar>
</ion-footer>
