<app-header [pageTitle]="['Messages']"></app-header>
<ion-content>
  <app-header-banner></app-header-banner>
<ion-list>
  <ion-list-header><ion-label>Unread Messages</ion-label></ion-list-header>

  <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
    <ion-label>Subject</ion-label>
    <ion-label>Sender</ion-label>
    <ion-label>Received At</ion-label>
  </ion-item>
  <div *ngIf="comments">
    <div *ngFor="let comment of comments">

  <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem" (click)="presentActionSheet(comment.id)" detail="true">
    <ion-col>
      <ion-label *ngIf="!comment.subject">NONE</ion-label>
      <ion-label *ngIf="comment.subject">{{comment.subject}}</ion-label></ion-col>
    <ion-col>
      <ion-label >{{comment.authoredBy.firstName}}<br />{{comment.authoredBy.lastName}}</ion-label>
    </ion-col>
    <ion-col>
      <ion-label>{{comment.dateOfComment | date: 'shortTime'}}<br />{{comment.dateOfComment | date: 'dd/MMM'}}</ion-label>
    </ion-col>
  </ion-item>

    </div>
  </div>
</ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging/inbox']">
      <ion-icon slot="start" name="mail-open-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-button>
  </ion-buttons>
    <ion-title>
      <ion-button color="light" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging/send']">
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        <ion-label>New Message</ion-label>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;"  [routerLink]="['/messaging/sent']">
        <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
