ion-content {
  --background: #90caf9;
}

ion-slides {
  height: 100%;
  --bullet-background-active: #fff;
  --bullet-background: #000;
}
ion-row{
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  color: white;
}
img {
  border-radius: 1rem;
}

