<app-header [pageTitle]="['Profile']"></app-header>
<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Profile...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ng-template #loadingshifts>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Shifts...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <app-header-banner></app-header-banner>
  <div *ngIf="user else loading">
  <ion-card>
    <ion-card-content>
      <div style="position: relative; left: 41%"><h5>{{user.firstName}} {{user.lastName}}</h5> <ion-img src="{{user.profilePicture}}" style="width: 4rem; height: 4rem;"></ion-img></div>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" src="assets/icon8/icons8-email2.svg"></ion-icon>
          <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">{{user.email}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" src="assets/icon8/icons8-money.svg"></ion-icon>
          <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">${{user.wagePerHour}}/ph</ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-icon slot="start" src="assets/icon8/icons8-phone.svg"></ion-icon>
          <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">{{user.contactNumber}}</ion-label>
        </ion-item>

            <ion-item lines="full" color="light" [routerLink]="['/users/profile/', user.id, 'shifts']" detail="true">
              <ion-icon slot="start" src="assets/icon8/icons8-calendar1.svg"></ion-icon>
              <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">View Your Shifts</ion-label>
            </ion-item>
            <ion-item lines="full" color="light" [routerLink]="['/users/', user.id, 'comments']" detail="true">
             <ion-icon slot="start" src="assets/icon8/comments.svg"></ion-icon>
              <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                View Your Comments
              </ion-label>
            </ion-item>
        <div *ngIf="shifts else loadingshifts">
          <ion-list>
            <ion-item class="ion-text-center"><ion-label>Approved Upcoming Shifts</ion-label></ion-item>
            <ion-item color="medium" style="font-size: 0.8rem; text-align: center; font-family: Quicksand, sans-serif;">
              <ion-label>DATE</ion-label>
              <ion-label>START</ion-label>
              <ion-label>END</ion-label>
            </ion-item>
            <div *ngFor="let shift of shifts">
            <ion-item color="light" (click)="presentActionSheet(shift.id)" style="font-size: 0.8rem; text-align: center; font-family: Quicksand, sans-serif;" detail="true">
            <ion-label>{{shift.start | date: 'dd/MMM'}}</ion-label>
            <ion-label>{{shift.start | date: 'shortTime'}}</ion-label>
            <ion-label>{{shift.end | date: 'shortTime'}}</ion-label>
          </ion-item>
            </div>
          </ion-list>
        </div>
        </ion-list>
    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
<div *ngIf="user else loading">
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/shifts/add']">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label>Add Shift</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/shifts/list']">
        <ion-label>Shift List</ion-label>
        <ion-icon slot="end" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</div>
