<app-header [pageTitle]="['User List']"></app-header>
<ion-content>
  <app-header-banner></app-header-banner>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Users...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="users else loading">
  <ion-card style="padding: 0.5rem;" *ngFor="let user of users">
    <ion-list>
      <ion-item (click)="presentActionSheet(user.id)" color="light" detail="true" lines="none">
        <ion-avatar> <ion-img src="{{user.profilePicture}}"></ion-img></ion-avatar>
        <ion-col style="font-size: 0.8rem; font-family: Quicksand, sans-serif"><ion-text>{{user.firstName}} {{ user.lastName }}</ion-text></ion-col>
      </ion-item>
      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif">
        <ion-icon name="mail-outline" slot="start" size="small" color="warning"></ion-icon>
        <ion-col>
          <ion-label>Email: </ion-label></ion-col>
        <ion-col>
          <ion-label>{{user.email}}</ion-label>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start" size="small" color="secondary"></ion-icon>
        <ion-col style="font-size: 0.8rem; font-family: Quicksand, sans-serif"><ion-label>Contact:</ion-label></ion-col>
        <ion-col style="font-size: 0.8rem; font-family: Quicksand, sans-serif"><ion-label>{{user.contactNumber}}</ion-label></ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start" size="small" color="success"></ion-icon>
        <ion-col style="font-size: 0.8rem; font-family: Quicksand, sans-serif"><ion-label>Wage:</ion-label></ion-col>
        <ion-col style="font-size: 0.8rem; font-family: Quicksand, sans-serif"><ion-label>${{user.wagePerHour}}/ph</ion-label></ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
<ion-buttons slot="start">
  <ion-back-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif" defaultHref="/admin" text="Back">
    <ion-ripple-effect></ion-ripple-effect>
  </ion-back-button>
</ion-buttons>

      <ion-title>
        <ion-button color="light">
        <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">{{date | date: 'shortTime'}}</ion-label>
        </ion-button>
      </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif" [routerLink]="['/users/add']">
        <ion-label>New User</ion-label>
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

