<app-header [pageTitle]="['Reset Password?']"></app-header>

<ion-content>
  <app-header-banner></app-header-banner>
<ion-card *ngIf="user" style="padding-top: 2rem; padding-bottom: 2rem;">

  <ion-card-header style="font-family: Quicksand, sans-serif; text-align: center;">
    <ion-label><strong>Password Reset Form</strong></ion-label>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="onResetPassword()">
      <ion-input type="hidden" formControlName="id" [ngModel]="user.id" value="{{user.id}}"></ion-input>
    <ion-list>

<ion-item lines="none"></ion-item>
      <ion-item style="font-family: Quicksand, sans-serif;">
        <ion-label position="stacked">
          New Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

<ion-item lines="none"></ion-item>

      <ion-item style="font-family: Quicksand, sans-serif;">
        <ion-label position="stacked">Confirm New Password</ion-label>
        <ion-input type="password" formControlName="confirm"></ion-input>
      </ion-item>

      <ng-container *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </ng-container>

      <ng-container *ngIf="submitted && f.confirm.errors">
        <div *ngIf="f.confirm.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirm.errors.MustMatch">Password do not match</div>
      </ng-container>

      <ion-item lines="none"></ion-item>

      <ion-item lines="none">
        <ion-col size="12">
          <ion-button type="submit" color="secondary" size="block">
            <ion-label>Submit New Password</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>

    </ion-list>
    </form>

  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" text="Back" defaultHref="/users/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/shifts/add']">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        <ion-label>Add Shift</ion-label>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging']">
        <ion-label>Messages</ion-label>
        <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
