ion-card{
  font-family: Quicksand, sans-serif;
}
.button-row {
  text-align: center;
}

.shifts ion-item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5rem;
  padding: .3rem 0;
  height: 1.6rem;
  border-radius: 4px;
}

.shifts ion-item.selected:hover {
  background-color: #CFD8DC;
  color: white;
}

.shifts {
  list-style-type: none;
  padding: 0;
}

.shifts ion-item:hover{
  color: #607D8B;
  background-color: #DDD;
  left: .1rem;
}
.shifts ion-item.selected {
  background-color: #607D8B;
  color: white;
}

