<app-header [pageTitle]="['Delete Comment']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

<ion-card *ngIf="comment else loading">
  <ion-card-header>Comment Details</ion-card-header>
  <ion-card-content>
    <ion-list>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" >
        <ion-label>Subject:</ion-label>
        <ion-label>{{comment.subject}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" >
        <ion-label>Private Message:</ion-label>
        <ion-label *ngIf="comment.isPrivate === true">Private Message</ion-label>
        <ion-label *ngIf="comment.isPrivate === false">Public Message</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" *ngIf="comment.shift">
        <ion-label>Related Shift Details</ion-label>

        <ion-text>Date: {{comment.shift.start | date: 'dd/MMM'}} <br />
        Start: {{comment.shift.start | date: 'shortTime'}} <br />
        End: {{comment.shift.end | date: 'shortTime'}} <br />
        On Duty: {{comment.shift.onDuty.firstName}} {{comment.shift.onDuty.lastName}}</ion-text>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" >
        <ion-label>Authored By:</ion-label>
        <ion-label>{{comment.authoredBy.firstName}} {{comment.authoredBy.lastName}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" >
        <ion-label>Date Of Comment:</ion-label>
        <ion-label>{{comment.dateOfComment | date: 'medium'}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" >
        <ion-label>Recipient:</ion-label>
        <ion-label>{{comment.recipient.firstName}} {{comment.recipient.lastName}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>Comment:</ion-label>
        <ion-text>{{comment.comment}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-col size="12">
          <ion-button (click)="onDeleteComment(comment.id)" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" size="block" color="danger" type="submit">
            <ion-label>Delete</ion-label>
            <ion-icon name="trash-bin-outline" slot="start"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>

      <ion-button color="light" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/admin/comments']">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        <ion-label>Comments</ion-label>
      </ion-button>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/admin']">
      <ion-label>Dashboard</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
