<app-header [pageTitle]="['Shifts Pending Approval']"></app-header>
<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ion-list>
    <ion-item-divider>
      <ion-row style="font-family: Quicksand, sans-serif;" class="ion-text-center">
        <ion-col style="font-size: 0.8rem;" size="3"><strong>Call Levels</strong></ion-col>
        <ion-col size="3"><span style="font-size: 0.7rem;">Secondary</span></ion-col>
        <ion-col size="1.5"><ion-icon color="secondary" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <span style="font-size: 0.7rem;">Primary</span></ion-col>
        <ion-col size="1.5">
          <ion-icon color="success" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-list>
  <ion-list>
    <ion-list-header>Shifts Pending Approval</ion-list-header>
    <ion-grid>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" class="ion-align-items-center">
      <ion-col>
        <ion-label>OnDuty</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Date</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Start</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>End</ion-label>
      </ion-col>
        <ion-col>
          <ion-label>Call Level</ion-label>
        </ion-col>
      </ion-item>

    <div  *ngIf="shifts else loading">
      <div *ngFor="let shift of shifts">
  <ion-item
    style="
    font-size: 0.8rem;
    font-family: Quicksand, sans-serif;"
    class="ion-align-items-center"
    (click)="presentActionSheet(shift.id)"
    detail="true"
  >
        <ion-col>
          <ion-label>{{shift.onDuty.firstName}}<br />{{shift.onDuty.lastName}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{shift.start | date: 'shortDate'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{shift.start | date: 'shortTime'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{shift.end | date: 'shortTime'}}</ion-label>
        </ion-col>
        <ion-col>
          <div *ngIf="shift.ShiftStatus === 'secondary'">
            <ion-icon color="secondary" size="large" name="person-circle-outline"></ion-icon>
          </div>
          <div *ngIf="shift.ShiftStatus === 'primary'">
            <ion-icon color="success"  size="large" name="person-circle-outline"></ion-icon>
          </div>
        </ion-col>
  </ion-item>
      </div>
    </div>
    </ion-grid>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/users']" slot="start">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>
        Users
      </ion-label>
    </ion-buttons>

    <ion-title>
      <h4>{{date | date: 'shortTime'}}</h4>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button  style="font-family: Quicksand, sans-serif; font-size: 0.8rem;"  [routerLink]="['/shifts/list']">
        <ion-icon slot="end" name="calendar-outline"></ion-icon>
        <ion-label>
          All Shifts
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
