<app-header [pageTitle]="['Outbox']"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header><ion-label>Sent Messages</ion-label></ion-list-header>

    <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
      <ion-label>Subject</ion-label>
      <ion-label>Sender</ion-label>
      <ion-label>Received At</ion-label>
    </ion-item>
    <div *ngIf="comments">
      <div *ngFor="let comment of comments">

        <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem" detail="true">
          <ion-col>
            <ion-label *ngIf="!comment.subject">NONE</ion-label>
            <ion-label *ngIf="comment.subject">{{comment.subject}}</ion-label></ion-col>
          <ion-col>
            <ion-label >{{comment.recipient.firstName}}<br />{{comment.recipient.lastName}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{comment.dateOfComment | date: 'shortTime'}}<br />{{comment.dateOfComment | date: 'dd/MMM'}}</ion-label>
          </ion-col>
        </ion-item>
        <ion-item>{{comment.comment}}</ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" text="Back" defaultHref="/messaging"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging/send']">
        <ion-label>Send Message</ion-label>
        <ion-icon slot="end" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
