<app-header [pageTitle]="['Your Shifts']"></app-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-row style="font-family: Quicksand, sans-serif;" class="ion-text-center">
        <ion-col style="font-size: 0.8rem;" size="3"><strong>Call Levels</strong></ion-col>
        <ion-col size="3"><span style="font-size: 0.7rem;">Secondary</span></ion-col>
        <ion-col size="1.5"><ion-icon color="secondary" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <span style="font-size: 0.7rem;">Primary</span></ion-col>
        <ion-col size="1.5">
          <ion-icon color="success" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-item *ngIf="user"><ion-avatar slot="start"><img src="{{user.profilePicture}}" style="width: 3rem; height: 3rem;"  alt="profile picture"/></ion-avatar>
      <ion-card-title class="ion-text-center">Your Upcoming Shifts</ion-card-title>
      </ion-item>
    </ion-list-header>
    <ion-item style="font-size: 0.6rem; font-family: Quicksand, sans-serif;" class="ion-text-center">
      <ion-col size="2"><strong>Date</strong></ion-col>
      <ion-col size="2"><strong>Start</strong></ion-col>
      <ion-col size="2"><strong>Finish</strong></ion-col>
      <ion-col size="1.5"><strong>Level</strong></ion-col>
      <ion-col size="2"><strong>Approved</strong></ion-col>
      <ion-col size="3"></ion-col>

    </ion-item>
    <div *ngFor="let shifts of userShifts">
      <ion-item *ngIf="userShifts" class="shifts ion-text-center" style="font-family: Quicksand, sans-serif; font-size: 0.7rem;">
        <ion-col>{{shifts.start | date: 'shortDate'}}</ion-col>
        <ion-col>{{shifts.start | date: 'shortTime' }}</ion-col>
        <ion-col>{{shifts.end | date: 'shortTime'}}</ion-col>
        <ion-col>
          <span *ngIf="shifts.ShiftStatus === 'secondary'"><ion-icon color="secondary" size="large" name="person-circle-outline"></ion-icon></span>
          <span *ngIf="shifts.ShiftStatus === 'primary'"><ion-icon color="success"  size="large" name="person-circle-outline"></ion-icon></span></ion-col>
        <ion-col>
        <span *ngIf="shifts.isApproved === false">
          <ion-icon size="large" color="danger" name="close-circle-outline"></ion-icon>
        </span>
          <span *ngIf="shifts.isApproved === true">
          <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
        </span>
        </ion-col>
        <ion-col>
          <ion-button size="small" [routerLink]="['/shifts/', shifts.id, '/details']" color="secondary">view</ion-button>
        </ion-col>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon size="small" routerLink="/shifts/add" name="add-circle-outline"></ion-icon>
      <ion-label>Add Shift</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="calendar">
      <ion-icon size="small"  name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon size="large" color="primary" routerLinkActive="active"  name="search-circle-outline"></ion-icon>
      <ion-label>View All</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
