<app-header [pageTitle]="['User Shifts']"></app-header>
<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Users Shifts...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="userShifts else loading">
  <ion-list>
    <ion-item-divider>
      <ion-row style="font-family: Quicksand, sans-serif;" class="ion-text-center">
        <ion-col style="font-size: 0.8rem;" size="3"><strong>Call Levels</strong></ion-col>
        <ion-col size="3"><span style="font-size: 0.7rem;">Secondary</span></ion-col>
        <ion-col size="1.5"><ion-icon color="secondary" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <span style="font-size: 0.7rem;">Primary</span></ion-col>
        <ion-col size="1.5">
          <ion-icon color="success" style="font-size: 2rem;" name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item-divider>
  </ion-list>

    <ion-item *ngIf="users">
      <ion-label>Change User</ion-label>
      <ion-select placeholder="users" name="users">
        <div *ngFor="let user of users">
          <ion-select-option (click)="loadUsersShifts(user.id)">{{user.firstName}} {{user.lastName}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

  <ion-list *ngIf="user">
    <ion-card-header>
      <ion-item color="medium" style="font-family: Quicksand, sans-serif;">
        <ion-thumbnail><ion-img src="{{user.profilePicture}}"></ion-img></ion-thumbnail>
        <ion-col size="2"></ion-col>
        <ion-col size="8" style="text-align: left;"><ion-label>{{user.firstName}} {{user.lastName}}</ion-label></ion-col>
      </ion-item>
    </ion-card-header>

    <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" class="ion-text-center">
      <ion-col><ion-label><strong>Date</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Start</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Finish</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Level</strong></ion-label></ion-col>
      <ion-col><ion-label><strong>Approved</strong></ion-label></ion-col>
    </ion-item>
    <div *ngFor="let shifts of userShifts">
      <ion-item *ngIf="shifts" class="shifts ion-text-center" style="font-family: Quicksand, sans-serif; font-size: 0.7rem;" [routerLink]="['/admin/shifts/details/', shifts.id]" detail="true">
        <ion-col><ion-label>{{shifts.start | date: 'dd/MMM'}}</ion-label></ion-col>
        <ion-col><ion-label>{{shifts.start | date: 'shortTime' }}</ion-label></ion-col>
        <ion-col><ion-label>{{shifts.end | date: 'shortTime'}}</ion-label></ion-col>
        <ion-col>
          <span *ngIf="shifts.ShiftStatus === 'secondary'"><ion-icon color="secondary" size="large" name="person-circle-outline"></ion-icon></span>
          <span *ngIf="shifts.ShiftStatus === 'primary'"><ion-icon color="success"  size="large" name="person-circle-outline"></ion-icon></span></ion-col>
        <ion-col>
        <span *ngIf="shifts.isApproved === false">
          <ion-icon size="large" color="danger" name="close-circle-outline"></ion-icon>
        </span>
          <span *ngIf="shifts.isApproved === true">
          <ion-icon size="large" color="success" name="checkmark-circle-outline"></ion-icon>
        </span>
        </ion-col>
      </ion-item>
    </div>
  </ion-list>
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/shifts/list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h5 style="text-align: center;">{{date | date: 'shortTime'}}</h5>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/shifts/add']">
        <ion-label>Add Shift</ion-label>
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
