<app-header [pageTitle]="['Shift Details']"></app-header>
<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Profile...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="shift else loading">
  <ion-card>
    <ion-list lines="none">
    <ion-item>
      <ion-col style="font-family: Quicksand, sans-serif;" class="ion-text-center">Current Date & Time</ion-col></ion-item>
    <ion-item>
      <ion-col style="font-family: Quicksand, sans-serif; font-size: 0.7rem;" class="ion-text-center">{{date | date: 'full'}}</ion-col>
    </ion-item>
    </ion-list>
  </ion-card>

<ion-card>
  <ion-card-content>
    <ion-list lines="indent">
<ion-item>
        <ion-col size="12">
          <ion-label *ngIf="shift.isApproved === false"
                     style="color: #c79b2e;
                     text-align: center">
            <ion-icon slot="start" name="close-circle-outline"></ion-icon>
            Pending Approval
          </ion-label>
          <ion-label *ngIf="shift.isApproved === true"
                     style="color: #00bb00;
                     text-align: center">
            <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            Shift Approved
          </ion-label>
        </ion-col>
</ion-item>
      <ion-item>
        <ion-col
          size="6"
          style="font-size: 0.8rem;">
          On Call Level:
        </ion-col>
        <ion-col size="6" class="ion-text-center">
        <ion-item *ngIf="shift.ShiftStatus === 'primary'">
          <ion-label
            style="font-size: 0.7rem;">
            Primary</ion-label>
          <ion-icon
            color="success"
            size="default"
            slot="end"
            name="person-circle-outline">
          </ion-icon>
        </ion-item>
        <ion-item *ngIf="shift.ShiftStatus === 'secondary'">
          <ion-label
            style="font-size: 0.7rem;">
            Secondary</ion-label>
          <ion-icon
            color="secondary"
            slot="end"
            name="person-circle-outline">
          </ion-icon>
        </ion-item>
      </ion-col>
      </ion-item>
      <ion-item
        style="
      font-size: 0.8rem;"
                size="6"
      >
        <ion-col>
          on duty:
        </ion-col>
        <ion-col size="6">
          <ion-item
            style="
            font-size: 0.8rem;"
            size="6"
          >
          <ion-label>{{ shift.onDuty.firstName }} {{ shift.onDuty.lastName }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-item>
      <ion-item
        style="
        font-size: 0.8rem;
        font-family: Quicksand, sans-serif;"
      >
        <ion-col size="6">date:</ion-col>
        <ion-col size="6">
          <ion-item
            style="
            font-size: 0.8rem;
            font-family: Quicksand, sans-serif;"
          >
            {{shift.start | date}}
          </ion-item>
        </ion-col>
    </ion-item>
      <ion-item>
        <ion-col
          size="2"
          style="
          font-size: 0.8rem;
          font-family: Quicksand, sans-serif;"
        >
          start:
        </ion-col>
        <ion-col
          size="4"
          style="
          font-size: 0.8rem;
          font-family: Quicksand, sans-serif;"
        >
          {{shift.start | date: 'shortTime'}}
        </ion-col>
      <ion-col
        size="2"
        style="
        font-size: 0.8rem;
        font-family: Quicksand, sans-serif;"
      >
        end: </ion-col>
        <ion-col
          size="4"
          style="
          font-size: 0.8rem;
          font-family: Quicksand, sans-serif;"
        >
        {{shift.end | date: 'shortTime'}}
      </ion-col>
    </ion-item>
      <ng-template #locked>
        <ion-item>
        <ion-label
          color="warning"
          style="font-family: Quicksand, sans-serif;
              font-size: 0.8rem;
              text-align: center;">
          NOTE:<br />Editing is disabled <br /> for approved shifts. <br />
          <span style="color: #0d0d0d;
              font-size: 0.7rem;">
                Please contact your manager<br /> if editing is required.</span>
        </ion-label>
        </ion-item>
      </ng-template>
      <ion-item>
        <ion-col size="6">
          <ion-button color="success" fill="clear" [routerLink]="['/shifts/', shift.id, 'add-comment']">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-label size="small">Comment</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" [routerLink]="['/shifts/', shift.id, 'view-comments']">
            <ion-icon name="list"></ion-icon>
            <ion-label>Comments</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>
      <ion-item *ngIf="shift.isApproved == false else locked">

        <ion-col size="6">
          <ion-button shape="round" fill="outline" [routerLink]="['/shifts/', shift.id, 'edit']" color="warning" size="block">
            <ion-icon slot="start" name="pencil"></ion-icon>
            <ion-label>EDIT</ion-label>
          </ion-button>
        </ion-col>
          <ion-col size="6">
          <ion-button shape="round" fill="outline" size="block" color="danger" [routerLink]="['/shifts/', shift.id, 'delete']">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  </div>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shifts/list" text="Back">
      </ion-back-button>
    </ion-buttons>

    <ion-title>
      <h4>{{date | date: 'shortTime'}}</h4>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/users/profile']">
        <ion-icon slot="end" name="person-outline"></ion-icon>
<ion-label>Profile</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


