<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menu-id="first" side="start">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header color="medium">
            <ion-nav-link class="ion-activatable ripple-parent"  routerLink="/home">
              <ion-avatar><ion-img src="https://media.publit.io/file/TMPLNR-2020.png" style="width: 3rem; height: 3rem;"></ion-img></ion-avatar>
            </ion-nav-link>
            <ion-title style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">TMPLNR-20</ion-title>
          </ion-list-header>
        </ion-list>

        <ion-list lines="none">
          <div>
          <ion-menu-toggle autoHide="false" >
            <ion-item detail="false" [routerLink]="['login']" routerDirection="root">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item detail="false" [routerLink]="['contact']" routerDirection="root">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-icon slot="start" name="call-outline"></ion-icon>
              <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                Contact
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          </div>
          <div>

            <ion-menu-toggle autoHide="false">
              <ion-item color="light" detail="false" [routerLink]="['/shifts']" routerDirection="root">
                  <ion-ripple-effect type="bounded"></ion-ripple-effect>
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                 Shifts Dashboard
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item color="light"  [routerLink]="['/users/profile']"  routerDirection="root" detail="false">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>
              <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                User Profile
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
              <ion-item color="light"  [routerLink]="['/messaging']"  routerDirection="root" detail="false">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
                <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                  Messages
                </ion-label>
              </ion-item>
            </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="admin" routerLinkActive="active" routerDirection="root" detail="false">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-icon slot="start" name="options-outline"></ion-icon>
              <ion-label style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
                Admin Dashboard
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item color="light" detail="false" (click)="logout()">
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label  style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
            <ion-item>
              <ion-icon slot="start" name="moon"></ion-icon>
              <ion-label color="medium">DARK MODE</ion-label>
              <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()" slot="end"></ion-toggle>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
