<app-header [pageTitle]="['Read Message']"></app-header>

<ion-content>
  <app-header-banner></app-header-banner>

  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

<ion-card *ngIf="comment else loading">
  <ion-card-header>
    <ion-label>
      <strong>From:</strong> {{comment.authoredBy.firstName}} {{comment.authoredBy.lastName}}</ion-label>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-col><ion-label><strong>Subject:</strong></ion-label></ion-col>
        <ion-col><ion-label *ngIf="!comment.subject">No Subject</ion-label>
        <ion-label *ngIf="comment.subject">{{comment.subject}}</ion-label></ion-col>
      </ion-item>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;">
        <ion-col><ion-label><strong>Received:</strong></ion-label></ion-col>
        <ion-col><ion-label>{{comment.dateOfComment | date: 'medium'}}</ion-label></ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          <strong>Message:</strong>
        </ion-label>
      </ion-item>

      <ion-item style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" lines="none">
        <ion-text>{{comment.comment}}</ion-text>
      </ion-item>

    </ion-list>
  </ion-card-content>

  <ion-item>
    <ion-col>
      <ion-button shape="round" size="block" color="success" [routerLink]="['/messaging/', comment.authoredBy.id, 'send-to']">
        <ion-icon slot="start" name="return-down-back-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>Reply</ion-label>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button shape="round" size="block" color="danger" (click)="presentActionSheet(comment.id)">
        <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="trash-bin-outline"></ion-icon><ion-label>DELETE</ion-label>
    </ion-button></ion-col>
  </ion-item>

</ion-card>
</ion-content>
<ion-footer [translucent]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/messaging']">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-button [routerLink]="['/messaging/send']" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" color="light">
        <ion-icon slot="start" name="mail-unread-outline"></ion-icon>
        <ion-label>New Message</ion-label>
      </ion-button>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/shifts']">
        <ion-icon slot="end" name="calendar-outline"></ion-icon>
        <ion-label>Shifts</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
