<app-header [pageTitle]="['Shift Comments']"></app-header>

<ion-content>
  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Shift Comments...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <div *ngIf="comments else loading">
  <ion-card *ngFor="let comment of comments">

    <ion-item class="item" [routerLink]="['/shifts/', comment.authoredBy.id, 'on-duty']" detail="true">
      <ion-label>Comment by:</ion-label>
      <ion-label>{{comment.authoredBy.firstName}} {{comment.authoredBy.lastName}}</ion-label>
    </ion-item>

    <ion-item *ngIf="comment.recipient" class="item" [routerLink]="['/shifts/', comment.recipient.id, 'on-duty']" detail="true">
      <ion-label>Recipient:</ion-label>
      <ion-label>{{comment.recipient.firstName}} {{comment.recipient.lastName}}</ion-label>
    </ion-item>

    <ion-item class="item">
      <ion-label>Date of comment:</ion-label>
      <ion-label>{{comment.dateOfComment | date: 'dd/MMM hh:M a'}}</ion-label>
    </ion-item>

    <ion-item class="item" *ngIf="comment.subject">
      <ion-label>Subject:</ion-label>
      <ion-text>{{comment.subject}}</ion-text>
    </ion-item>

    <ion-item class="item" lines="none">
      <ion-label color="medium" position="stacked">Comment:</ion-label>
      <ion-text>
        {{comment.comment}}
      </ion-text>
    </ion-item>
<ion-item lines="none"></ion-item>
  </ion-card>
  </div>

</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/shifts/list"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="shift">
      <ion-button color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;"  [routerLink]="['/shifts/', shift.id, 'comments', 'add']">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label>Add Comment</ion-label>
      </ion-button>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/messaging']">
        <ion-label>Messages</ion-label>
        <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
