<app-header [pageTitle]="['Read Message']"></app-header>

<ion-content>

  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

<ion-card *ngIf="comment else loading">
  <ion-list>

    <ion-item color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;"
              [routerLink]="['/users', comment.recipient.id, 'details']">
      <ion-label>
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          Recipient:
        </strong>
      </ion-label>
      <ion-label style="margin-left: 1rem;">{{comment.recipient.firstName}} {{comment.recipient.lastName}}</ion-label>
    </ion-item>

    <ion-item color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/']">
      <ion-label>
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          From:
        </strong>
      </ion-label>
      <ion-label style="margin-left: 1rem;">{{comment.authoredBy.firstName}} {{comment.authoredBy.lastName}}</ion-label>
    </ion-item>

    <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
      <ion-label>
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          Private/Public
        </strong>
      </ion-label>
      <ion-label *ngIf="comment.isPrivate === true">Private Message</ion-label>
      <ion-label *ngIf="comment.isPrivate === false">Public Message</ion-label>
    </ion-item>

    <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
      <ion-label>
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          Subject:
        </strong>
      </ion-label>
      <ion-label>{{comment.subject}}</ion-label>
    </ion-item>

    <ion-item lines="none" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
      <ion-label position="stacked" color="medium">
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          Message:
        </strong>
      </ion-label>
      <ion-text>{{comment.comment}}</ion-text>
    </ion-item>

    <ion-item></ion-item>

    <div *ngIf="comment.shift">

    <ion-item color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
      <ion-label class="ion-text-center">
        <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
          Related Shift Details
        </strong>
      </ion-label>
    </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>
          <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
            Date:
          </strong>
        </ion-label>
        <ion-label>{{comment.shift.start | date: 'dd/MMM'}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>
          <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
            Start:
          </strong>
        </ion-label>
        <ion-label>{{comment.shift.start | date: 'shortTime'}}</ion-label>
      </ion-item>

      <ion-item style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
        <ion-label>
          <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
            Finish:
          </strong>
        </ion-label>
        <ion-label>{{comment.shift.end | date: 'shortTime'}}</ion-label>
      </ion-item>

      <ion-item color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;"
      [routerLink]="['/users/', comment.shift.onDuty.id, 'details']" detail="true">
        <ion-label>
          <strong style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">
            On Duty:
          </strong>
        </ion-label>
        <ion-label style="margin-left: 1rem;">{{comment.shift.onDuty.firstName}} {{comment.shift.onDuty.lastName}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-col size="12">
          <ion-button size="block" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" color="danger" [routerLink]="['/admin/comments/delete/', comment.id]">
            <ion-label>Delete Message</ion-label>
            <ion-icon slot="start" name="trash-bin-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item>
    </div>
  </ion-list>
</ion-card>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons>
      <ion-back-button text="Back" defaultHref="/admin" style="font-size: 0.8rem; font-family: Quicksand, sans-serif;"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-button color="light" style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" [routerLink]="['/admin/shifts/add']">
        <ion-label>Add Shift</ion-label>
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="font-size: 0.8rem; font-family: Quicksand, sans-serif;" [routerLink]="['/admin']">
        <ion-icon slot="end" name="list-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
