<app-header [pageTitle]="['Contact']"></app-header>
<ion-content>
  <img loading="eager" src="https://media.publit.io/file/organised.png" alt="header" width="100%" loading="lazy" />
<ion-card>
  <ion-card-title>Contact</ion-card-title>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <h4><span>Email:</span> mail@xavrom.com</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 class="phone-text"><span>Phone:</span> 0426828872</h4>
      </ion-col>
    </ion-row>

  </ion-card-content>
</ion-card>

</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
