span {
  font-family: Bebas Neue, sans-serif;
}
ion-card-title{
  text-align: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 2rem;
}
ion-card-content{
  text-align: center;
}
.phone-text{
  margin-right: 2.2rem;
}
ion-card{
  padding: 2rem;
  margin-top: 1rem;
}
