<app-header [pageTitle]="['Edit Shift']"></app-header>

<ion-content>

  <ng-template #loading>
    <ion-card style="padding: 3rem; margin-top: 4rem">
      <ion-card-header><ion-title>Loading..</ion-title></ion-card-header>
      <ion-card-content><ion-col class="ion-text-center"><ion-spinner></ion-spinner></ion-col></ion-card-content>
    </ion-card>
  </ng-template>

  <ion-card style="margin-top: 2rem;" *ngIf="shift else loading">
    <form [formGroup]="form" (ngSubmit)="editShift()" >
<ion-list>
        <ion-item>
          <ion-label position="floating" class="ion-text-center" style="font-size: 0.8rem;" color="secondary"><span>Select Start Time</span></ion-label>
          <ion-datetime
            style="font-size: 0.8rem;"
            picker-format="DD MMM YY h:mm A"
            formControlName="start"
            display-format="DD MMM YY h:mm A"
            minuteValues="00,15,30,45"
            [(ngModel)]="shift.start"
          >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="ion-text-center" style="font-size: 0.8rem;"  color="secondary"><span>Select Finish Time</span></ion-label>
          <ion-datetime
            style="font-size: 0.8rem;"
            picker-format="DD MMM YY h:mm A"
            formControlName="end"
            display-format="DD MMM YY h:mm A"
            minuteValues="00,15,30,45"
            [(ngModel)]="shift.end"
          >
          </ion-datetime>
        </ion-item>

            <ion-item>
              <ion-label position="floating" color="secondary">On Duty</ion-label>
              <ion-select [ngModel]="shift.onDuty" formControlName="onDuty" placeholder="{{shift.onDuty.firstName}} {{shift.onDuty.lastName}}">

                  <div  *ngFor="let user of users" >
                  <ion-select-option  value="/users/{{this.user.id}}}">
                    {{this.user.firstName}} {{this.user.lastName}}
                  </ion-select-option>
                  </div>

              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating" color="secondary">Call Level</ion-label>
              <ion-select [(ngModel)]="shift.ShiftStatus" formControlName="ShiftStatus" placeholder="Select Status">
                <ion-select-option value="secondary">Secondary</ion-select-option>
                <ion-select-option value="primary">Primary</ion-select-option>
              </ion-select>
            </ion-item>

  <ng-template #approved>
  <ion-item
    color="warning"
    style="font-family: Quicksand, sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center">
    <ion-label>Shift has been approved!<br />Editing is now disabled.</ion-label>
  </ion-item>
  </ng-template>
  <div *ngIf="shift.isApproved == false; else approved">
          <ion-button
            type="submit"
            style="margin-top: 1rem;"
            size="block"><ion-label>
            Edit Shift</ion-label>
          </ion-button>
  </div>
</ion-list>
    </form>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button
        style="font-size: 0.8rem;
        font-family: Quicksand, sans-serif;"
        [routerLink]="['/shifts/calendar/draft']">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Draft<br />Calendar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>
<h4>{{date | date: 'shortTime'}}</h4>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button
        style="font-size: 0.8rem;
        font-family: Quicksand, sans-serif;"
        size="small" [routerLink]="['/shifts/calendar/approved']">
        <ion-icon slot="end" name="calendar"></ion-icon>
        Approved<br /> Calendar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>



